

.italic {font-style: italic}
.tab {padding-left: 15px}

mark {background-color: inherit}

body {
    font-family: "Montserrat", system-ui;
    margin: 0;
}

#content {
    display: grid;
    grid-template-columns: 20% auto;

    border: 10px solid #f0f5fa;
}

#sidebar {

    grid-column: 1;
    grid-row: 1;
    grid-row-end: 3;

    padding: 5%;

    background: linear-gradient(0deg, #2d3f52 0%, #729fcf 20%);
    color: white;

    border-right: 10px solid #f0f5fa;

    /*animation-name: hide-sidebar;*/
    /*animation-duration: 3s;*/
    /*animation-fill-mode: forwards*/
}

#scrolling-container {
    position: sticky;
    top: 0;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

#profil-pic {

    max-width: 90%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;

    border: 5px solid #f0f5fa;
    box-shadow: 5px 5px 15px #445f7c;
}

#scrolling-container section h3  {margin-bottom: 10px}

#resume p{
    text-justify: inter-word;
}

#details #list{
    display: grid;
    grid-gap: 5px 10px;
}

#details img {
    width: 30px;

    margin: auto 0 auto 10px;

    grid-column: 1;
}

#details span {
    grid-column: 2;
    margin: auto 0 auto 0;
}

#passions ul {padding-left: 30px}

header {
    grid-column: 2;
    grid-row: 1;

    display: flex;

    padding: 10px;

    background-color: #f0f5fa;
}

header #title {
    margin: auto;
    text-align: center
}

header #title h1 {
    font-size: 5em;
    margin: 0;
}

header #title h2 {
    font-size: 3em;
    margin: 0;
}

header mark {color: #729fcf}

nav {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

nav li {
    color: #445f7c;
    font-size: 1.5em;
    padding: 10px;

}

nav a {
    color: #729fcf;
    font-weight: bold;
    text-decoration: none;}

nav a:visited {color: #729fcf}
nav a:hover {color: #445f7c}

main {

    grid-column: 2;
    grid-row: 2;

    flex: 1;
    padding: 2% 10% 2% 10%;

    display: flex;
    flex-direction: column;
}

main > section {
    margin-bottom: 50px;
}

#profil {

    border: 3px solid #445f7c;
    border-radius: 20px;

    box-shadow: 5px 5px 7px #2d3f52;

    background: linear-gradient(0deg, #e2ebf5 0%, #f0f5fa 100%);
}

#profil-menu {display: flex}

#profil-menu div {flex: 1}

#profil-menu label {
    color: #f0f5fa;
    display: inline-block;
    width: 100%;
    height: 70%;

    text-align: center;

    background-color: #445f7c;

    padding-top: 10px;
    padding-bottom: 10px;
}

#label-studies{border-top-left-radius: 15px}
#label-other{border-top-right-radius: 15px}

#profil-menu label:hover {background-color: #2d3f52}

#profil-menu input:checked ~ label {
    color: #729fcf;
    background-color: #f0f5fa;
    font-weight: bold;
    font-size: 1em;
}

#profil > section {padding: 5px 50px 5px 50px;}

#profil h3 {
    font-weight: normal;
    font-size: 18px;
    color: #729fcf;
}

#profil mark {font-weight: bold}

#projects {display: none}
#experiences {display: none}
#other {display: none}

#contact fieldset {
    border: 3px solid #445f7c;
    border-radius: 20px;
    background-color: #f0f5fa;
    box-shadow: 5px 5px 7px #2d3f52;
}

#contact fieldset legend {
    color: #f0f5fa;
    font-weight: bold;
    font-size: 2em;

    background-color: #445f7c;

    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

#contact form {
    display: grid;
    grid-gap: 15px;;
    padding-top: 20px;
}

#contact label {
    color: #729fcf;
    position: relative;
    bottom: 55%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.contact-input {

    width: 100%;

    border: 0;
    border-bottom: 1px solid #729fcf;

    background-color: #f0f5fa;
}

.contact-input:focus {outline:none!important}

.contact-input:focus + label {animation-name: contact-label-move-up}
.contact-input:not(:focus) + label {animation-name: contact-label-move-down}
.contact-input:not(:placeholder-shown) + label {animation-name: contact-label-move-up;}

@keyframes contact-label-move-up {
    from {position: relative; bottom: 55%}
    to {position: relative; bottom: 100%}
}

@keyframes contact-label-move-down {
    from {position: relative; bottom: 100%}
    to {position: relative; bottom: 55%}
}

#contact-name {grid-row: 1; grid-column: 1}
#contact-mail {grid-row: 1; grid-column: 2}
#contact-msg {grid-row: 2; grid-column-start: 1; grid-column-end: 3}

footer {
    background-color: #f0f5fa;
    color: #729fcf;
    text-align: center;
    font-size: 0.7em;
    padding: 10px;
}

footer p {
    margin: 0;
}



/*TODO*/
@keyframes hide-sidebar {
    from {position: relative; left: 0}
    to {position: relative; left: -120%}
}

/*TODO*/
@media screen and (max-width: 767px) {}
@media screen and (min-width: 768px) {}




