
@media screen and (max-width: 360px) {

    .font-size-title {font-size: 2em}
    .font-size-subtitle {font-size: 1.6em}

    .font-size-sidebar {font-size: 0.8em}

    .font-size-profil-buttons {font-size: 0.85em}

    #body {display: block}
    #sidebar {position: absolute; top: 0; left: 0; z-index: 2; width: 80%;}
    #sidebar-button {right: -10%}

    #content {position: absolute; top: 0; left: 0; z-index: 1}

    nav {display: none}

    #contact-mail {grid-row: 2; grid-column: 1}
    #contact-msg {grid-row: 3; grid-column-end: 1}

}

@media screen and (min-width: 963px) {

    .font-size-title {font-size: 5vw}
    .font-size-subtitle {font-size: 3vw}
    .font-size-nav {font-size: 1.4vw}

    .font-size-sidebar {font-size: 1em}

    .font-size-profil-buttons {font-size: 1.2vw}
}



